<wsse:Security xmlns:ds="http://www.w3.org/2000/09/xmldsig#" 
               xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" 
               xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
               xmlns:xenc="http://www.w3.org/2001/04/xmlenc#">
 	<wsse:BinarySecurityToken   
               EncodingType="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-soap-message-security-1.0#Base64Binary" 
               ValueType="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-x509-token-profile-1.0#X509v3" 
               wsu:Id="x509cert00"><%- BinaryToken %></wsse:BinarySecurityToken>
    <Timestamp xmlns="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" Id="_1"> 
    	<Created><%- Created %></Created>
    	<Expires><%- Expires %></Expires>
    </Timestamp>
</wsse:Security>